extends layout

block content
  .mt-5
  h1.text-center.text-light Plans Tonight?
  p.text-center
    span.m-3
      i.fa.fa-map-marker.fa-3x(aria-hidden="true")
    span.m-3
      i.fa.fa-taxi.fa-3x(aria-hidden="true")
    span.m-3
      i.fa.fa-glass.fa-3x(aria-hidden="true")
  h5.text-center.text-light See which bars are hoppin' tonight and RSVP ahead of time!
  .mt-5
    .row
      .col-1
      .col-9
        .form-group 
          input.form-control.background-input.text-light(type='text', name="place", value!=place, placeholder='WHERE YOU AT?')
      .col-2
        button.btn.btn-outline-light.btn-block.go(type='submit') Go
  .search-result.ml-5
  footer
    p.text-center Made with 
      a(href="https://www.yelp.com/developers/documentation/v3") Yelp Fusion Api
    .text-center
      a(href="https://github.com/otaree/nightlife-coordination-app", target="_blank")
        img(src="images/GitHub-Mark-Light-32px.png", alt="Github")
      
    p.text-center @otaree 


