/*
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/

body {
  background: #9900cc;
  color: white;
}

.fa {
  color: white;
}

.background-input {
  background: #9900cc;
}

.background-input:focus {
  background: #9900cc;
}
.background-input::placeholder {
  color: white;
  text-align: center;
}

.plate-mine {
  height: 150px;
  margin-top: 20px;
}

.plate-mine:hover {
  border: 1px solid #ddd;
  -webkit-box-shadow: -2px 5px 12px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 5px 12px 0px rgba(0,0,0,0.75);
  box-shadow: -2px 5px 12px 0px rgba(0,0,0,0.75);
}